* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrap {
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.header-tittle {
    margin-bottom: 25px;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
}
.line {
    width: 64px;
    height: 2px;
    margin: 0 auto 30px;
    background: #FF8B38;
    border: none;
}
.subtittle {
    padding-bottom: 36px;
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
}
main {
    padding: 31px 0 89px;
    font-size: 0;
}
.card {
    display: inline-block;
    width: 350px;
    margin: 0 16px 88px;
}
.card-subtittle {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.text {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
}
.circle {
    width: 70px;
    height: 70px;
    margin: 0 auto 30px;
    border: 2px solid #FF8B38;
    border-radius: 50%;
}
.circle--bulb {
    background: url(../img/bulb.png) no-repeat center;
}
.circle--keyboard {
    background: url(../img/keyboard.png) no-repeat center;
}
.circle--lightning {
    background: url(../img/lightning.png) no-repeat center;
}
.header-tittle--white {
    margin-bottom: 48px;
    padding-top: 76px;
    color: white;
}
.line--white {
    background: white;
}
.subtittle-white {
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}
.header--white{
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/street.png) no-repeat center;
    background-size: cover;
}
.button {
    display: inline-block;
    width: 135px;
    height: 42px;
    margin: 0 auto 38px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
}
.button-name{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.footer{
    padding-bottom: 15px;
    background-color: black;
}
.networks{
    margin: 0 auto 18px;
    padding-top: 30px;
    list-style-type: none;
}
.icon{
    display:inline-block;
    width: 42px;
    height: 23px;
}
.copyright{
    font-size: 12px;    
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color:rgba(255, 255, 255, 0.5);
}

